<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="universal.css">
    <link rel="stylesheet" type="text/css" href="products.css">
    <title>Туристическое агенство</title>
</head>
<header>
    <div class="logo">
        <a href="/">
            <img src="flight.png" alt="Логотип">
          </a>
    </div>
    <nav>
      <ul class="menu">
        <li><a href="/Administrator">Панель Администратора</a></li>
        <li><a href="/Client">Клиент</a></li>
      </ul>
    </nav>
  </header>
  
<body>
    <div class="text">
        <p>Добро пожаловать в наше Туристическое Агентство!</p>
        <p>Мы рады приветствовать вас на нашей приветственной странице, где мечты о приключениях становятся реальностью. Наша команда профессиональных туристических экспертов готова помочь вам спланировать незабываемые путешествия, открывающие двери в новые миры и привносящие радость в жизнь.</p>
        <p>Мы понимаем, что каждый путешественник уникален, поэтому наша главная цель - создать индивидуальные и тщательно продуманные маршруты, отвечающие вашим потребностям и ожиданиям. Независимо от того, мечтаете ли вы об уединенном отдыхе на белоснежном пляже, захватывающем приключении в горах или погружении в культуру далеких стран, мы предлагаем широкий спектр туров и услуг, чтобы ваше путешествие было идеальным.</p>
        <p>Сотрудничая с нами, вы можете рассчитывать на высочайший уровень профессионализма и индивидуального подхода. Наши туристические агенты имеют обширные знания о различных направлениях и предоставят вам ценные советы и рекомендации, чтобы ваше путешествие было безопасным, комфортным и запоминающимся.</p>
        <p>Мы сотрудничаем только с проверенными партнерами, включая ведущие авиакомпании, отели и туристические агентства по всему миру, чтобы обеспечить вам лучший выбор и оптимальные условия. Мы уделяем особое внимание деталям, чтобы каждый аспект вашего путешествия был организован до мельчайших подробностей.</p>
        <p>Безопасность и удовлетворение наших клиентов являются нашими первостепенными приоритетами. Мы следим за последними туристическими трендами и рекомендациями, чтобы предоставить вам актуальную информацию и помощь в связи с визами, страховкой, медицинскими вопросами и другими важными аспектами вашего путешествия.</p>
        <p>Так что не медлите! Доверьте нам свои мечты</p>
    </div>

</body>
</html>